/* import RESET */ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Style */
body {
  width: 390px;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}

/* HEADER */
header {
  background-color: #541554;
  width: 390px;
}

.header__box {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  box-sizing: border-box;
  align-items: center;
}

.header__logo {
  width: 100px;
}

.header__menu {
  width: 40px;
}

.header__item {
  width: 390px;
  background-color: #541554;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 2.5em;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 15px;
}

.header__text--yellow {
  font-size: 1em;
  color: #ecb22e;
  text-align: center;
  font-weight: bold;
}

p {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  text-align: center;
  color: white;
  line-height: 25px;
  font-size: 1em;
  padding: 20px 20px;
}

.button {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  color: #541554;
  font-size: smaller;
  font-weight: 450;
  background-color: white;
  width: 360px;
  padding: 15px 0;
  border: 50;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.button--purple {
  background-color: #541554;
  color: white;
  border: 1px solid #541554;
}

.button--purpleBorder {
  border: #541554 solid 1px;
}

.header__videoContainer {
  max-width: 390px;
  height: inherit;
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  padding-top: 30px;
  margin-bottom: -58px; /* cheating? */
}

.header__video {
  max-width: 600px;
  box-sizing: inherit;
  pointer-events: none;
}

/* MAIN */
/* main background color */
.main__background {
  width: 390px;
  background-color: #f4ede4;
}

.main__background--white {
  background-color: white;
}

.main__background--purple {
  background-color: #541554;
}

/* tipos main */
h4 {
  font-size: small;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 15px;
  background-color: #f4ede4;
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 45px;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.7em;
  font-weight: bold;
  text-align: left;
  padding: 0px 20px;
}

.h3--center {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 75px;
  padding-bottom: 20px;
  line-height: 34px;
}

.h3--quote {
  text-align: left;
  font-weight: 347;
  font-size: 1.2em;
  font-style: italic;
  line-height: 30px;
  padding-left: 30px;
  padding-top: 60px;
}

h2 {
  font-size: 3em;
  font-weight: 550;
  text-align: center;
  color: #541554;
  letter-spacing: 4px;
  padding-left: 20px;
}

.p--blackLeft {
  text-align: left;
  color: black;
}

.p--blackCenter {
  text-align: center;
  color: black;
  padding-left: 25px;
  padding-right: 25px;
}

.p--small {
  text-align: center;
  color: black;
  font-size: 0.8em;
  padding-left: 105px;
  padding-right: 105px;
  line-height: 18px;
}

.p--smallBold {
  text-align: left;
  color: black;
  font-size: 0.9em;
  padding-left: 30px;
  padding-right: 105px;
  padding-bottom: 0px;
  line-height: 18px;
  font-weight: bold;
}

.p--smallerBlack {
  text-align: left;
  color: black;
  font-size: 0.9em;
  padding-left: 30px;
  padding-top: 0px;
  padding-bottom: 15px;
}

a {
  text-align: left;
  font-size: 1em;
  text-decoration: none;
  color: #1b64a3;
  padding-left: 20px;
}

.a--morePadding {
  padding-left: 30px;
}

/* main containers */
section {
  background-color: #f4ede4;
  padding-bottom: 20px;
}

.main__logosDisplay {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  gap: 20px;
}

.main__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* images treatment */
.article__image {
  width: auto;
  height: 390px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.client__logo {
  height: 40px;
}

.client__logo--ubber {
  height: 25px;
}

.client__logo--nasa {
  height: 60px;
}

.client__logo--long {
  height: 35px;
}/*# sourceMappingURL=style.css.map */