/* import RESET */
@import './reset.scss';


/* General Style */

main { 
    width: 390px;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

/* HEADER */
header{
    background-color: #541554;
    width: 390px;
    
}

.header__box{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    box-sizing: border-box; 
    align-items: center;  
}

.header__logo{
    width: 100px;
}

.header__menu{
    width: 40px;
}

.header__item{
    width: 390px;
    background-color: #541554;
    display:flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 2.5em;
    color: white;
    text-align: center;
    font-weight:bold;
    padding: 15px;
}

.header__text--yellow{
    font-size: 1em;
    color: #ecb22e;
    text-align: center;
    font-weight:bold;
}

p{
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    text-align: center;
    color: white;
    line-height : 25px;
    font-size: 1em;
    padding: 20px 20px;   
}

.button{
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    color: #541554;
    font-size: smaller;
    font-weight: bold;
    background-color: white;
    width: 360px; 
    padding: 15px 0;
    border: round($number: 50);
}

.button--purple{
    background-color: #541554;
    color: white;
    border: 2px solid white;
}

.button--purpleBorder{
    border: #541554 solid 2px;
}

.header__videoContainer{
    max-width: 390px;
    height: inherit;
    padding-top: 20px;
    display:flex;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: 30px;
    margin-bottom: -58px; /* cheating? */
}

.header__video{
    max-width: 600px;
    box-sizing: inherit;
    pointer-events: none;
  
}

/* main background color */

.main__background{
    width: 390px;
    background-color: #f4ede4;
}

.main__background--white{
    background-color: white;
}

.main__background--purple{
    background-color: #541554;
}

/* tipos main */

h4{
    font-size: small;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 15px;
    background-color: #f4ede4;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 45px;
    padding-bottom: 20px;
}

h3{
    font-size: 1.7em;
    font-weight: bold;
    text-align: left; 
    padding-left: 5px;
}

.h3--center{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* main containers */

.main__logosDisplay {
    display:flex;
    align-items: center;
    flex-direction: row; 
}


.main__lol{
    width: 15px;    
}

.main__item{
    display:flex;
    align-items: center;
    flex-direction: column; 
}


