/* import RESET */
@import './reset.scss';


/* Estilos página */

main {
    border: 1px solid green; 
    width: 390px;
}

div{
    border: 1px solid cyan; 
    width: 390px;
    margin-bottom: 10px;
}
